body {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    background-image: url("images/bg.png");
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 30px;
  }
}

.header {
  border-bottom-style: dotted;
  display: flex;
  justify-content: space-around;
}

.header-logo {
  display: inline-block;
  padding: 20px;
}

.header-nav {
  display: inline-block;
  padding: 0px 40px;
  align-content: center;
  text-align: center;
  text-wrap: nowrap;
}

.banner {
    width: 100%;
    max-width: 1000px;
}

.centred-text {
    text-align: center;
}

.main-box {
  border-style: solid;
  max-width: 1250px;
  margin: auto;
  background-color: white;
}