/* FONTS */

@font-face {
    font-family: HankistSans;
    src: url("images/siteresources/fonts/HankistSans.otf") format("opentype");
}

@font-face {
  font-family: HankistSans;
  src: url("images/siteresources/fonts/HankistSans-Bold.otf");
  font-weight: bold;
}

/* MAINSTUFF */

body {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    padding: 0px;
    margin: 0px;
}

.folio-container {
    display: flex;
    flex-wrap: wrap;
}

/* LEFTSIDE */

.left-flex {
    flex: 33%;
}

.blurb-box {
    margin: 10px;
    margin-top: 250px;
    padding: 5px;
    border-style: dotted;
    border-width: 4px;
    background-color: white;
    position: sticky;
    top: 100px;
}

.blurb-text {
    padding: 10px;
}

/* RIGHTSIDE */

.right-flex {
    flex: 66%;
}

.images-heading {
    font-family: HankistSans;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}

.images-container {
    margin: 15px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.images-container > div {
    text-align: center;
    margin: auto;
    width: 300px;
}

.images-container > div:hover, .full-comic-container:hover {
    background-color: rgb(236, 231, 226);
    color: rgb(79, 48, 47)
}
.images-container > div:hover img, .full-comic-container:hover img {
    filter: sepia(1);
}

.images-thumbnail {
    margin: 5px;
    border-style: solid;
    border-width: 5px;
}

.full-comic-container {
    margin: 15px;
    border-style: solid;
    border-width: 10px;
    display: flex;
}

.full-comic-container > .images-thumbnail {
    /* thumbnail in the special comics display is flexed left */
    flex: left;
}

.full-comic-text {
    flex: right;
    padding: 5px;
}

/* MOBILE COMPAT */

@media (max-width: 800px) {
  .left-flex, .right-flex {
    flex: 100%;
  }

  .images-container {
    grid-template-columns: 1fr 1fr;
  }

  .blurb-box {
    margin-top: 10px;
  }
}